.notification{
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error{
    background-color: #FF2020;
}

.success{
    background-color: #2FD070;
}